[Unit]
Description=LightningATM Service
After=multi-user.target

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/LightningATM
ExecStart=/usr/bin/python3 /home/pi/LightningATM/app.py

[Install]
WantedBy=multi-user.target
